.sc-fznMAR,
.sc-fzoyTs,
.hsnfCS {
  display: none;
}
.rdt_TableRow:nth-child(odd) {
  background-color: rgb(247, 247, 247);
}
div {
  color: rgb(30, 48, 100);
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  padding-right: 0;
}